[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "external/value_types"]
	path = external/value_types
	url = https://github.com/jbcoe/value_types.git
[submodule "external/robin-map"]
	path = external/robin-map
	url = git@github.com:Tessil/robin-map.git
